
<link rel="stylesheet" href="{{ asset('css/header.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Fira+Mono&family=Poppins:wght@300&display=swap" rel="stylesheet">


<header>
    <nav>        
        <div class="logo">
            <a href="/"><img src="{{ asset('images/R-G.png') }}" alt=""></a>
        </div>
        <div class="toggle">
            <img class="menu-hamburger ouvrir" src="{{ asset('images/menu.png') }}" alt ="burger menu">
            <img class="menu-croix fermer" src="{{ asset('images/signe-de-la-croix.png') }}" alt ="burger fermer">
        </div>
        <ul class="menu">
            <li><a href="/">ACCUEIL</a></li>
            <li><a href="/equipe">ÉQUIPE</a></li>
            <li><a href="/contact">CONTACT</a></li>
        </ul>
    </nav>
</header>

<script src="{{ asset('js/header.js') }}"></script>
