{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> <!-- Inclure Slick -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% endblock %}

{% block title %}RGRAPHICS - Accueil{% endblock %}


{% block body %}
<section class="section1-accueil " id="section1">
        <div class="star"></div>
        <div class="star-background"></div>
    <div class="div-accueil">
        <div class="logo-text">
            <div class="logo-accueil">
                <img src="{{ vich_uploader_asset(parametrelogoAccueilblack, 'imageFile') }}" alt="{{parametrelogoAccueilblack.imageName}}" class="logo-accueil" id="logo-accueil">
            </div>
            <div class="text-accueil">
                <p>
                {{parametreTextAccueil.textAccroche}}
                </p>
            </div>
        </div>
        <a href="#section2" class="section-link  ">
            <button class="btn-decouvrir ">Découvrir</button>
        </a>
    </div>
</section>

<section id="section2" class="section" data-section-name="Total Covering">
    <div class="div-covering">

        <div class="div-tire-onglet">
            <div class="titre">
                <h2>TOTAL COVERING</h2>
            </div>
            <div class="dropdown"> {# Onglet de navigation entre les sections #}

                <button class="dropdown-btn" draggable="true">
                    <span class="dropdown-btn-text">sections</span>
                    <i class='bx bxs-down-arrow'></i>
                </button>

                <div class="dropdown-content">
                    <a href="#section2" class="section-link">Total Covering</a>
                    <a href="#section3" class="section-link">Marquage véhicules</a>
                    <a href="#section4" class="section-link">Enseignes-Vitrines-Panneaux</a>
                    <a href="#section5" class="section-link">Logos</a>
                    <a href="#section6" class="section-link">Impression num.</a>
                    <a href="#section7" class="section-link">Imprimerie-Evenementiel-Banderoles</a>
                    <a href="#section8" class="section-link">Textiles</a>
                    <a href="#section9" class="section-link">Goddies</a>
                    <a href="#section10" class="section-link">Partenaires</a>
                </div>
                
            </div>
        </div>

        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for img in covering %}
                    <div class="swiper-slide">
                    {# afficher seulement les marquages véhicule (catégorie.nom= MARQUAGE V)#}
                        <img src="{{ vich_uploader_asset(img, 'imageFile') }}" alt="{{img.imageName}}">
                        <div class="info_cov">
                            <h3>{{img.titre}}</h3>
                            <p>{{img.legende}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
</section>
<section id="section3" class="section"  data-section-name="Marquage véhicules">
    <div class="div-Marquage">

        <div class="div-tire-onglet">
            <div class="titre">
                <h2>Marquage vehicules</h2>
            </div>  
        </div>
        <div class="contenu_marquage">
            {# block foreach #}
            {% for img in marquageVehicule %}
                {# afficher seulement les marquages véhicule (catégorie.nom= MARQUAGE V)#}
                <div class="img_marquage">
                    <img src="{{ vich_uploader_asset(img, 'imageFile') }}" alt="{{img.imageName}}">
                    <div class="info_marq">
                        <h3>{{img.titre}}</h3>
                        <p>{{img.legende}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section id="section4" class="section"  data-section-name="Enseignes-Vitrines-Panneaux">
    <div class="div-enseignes">

        <div class="div-tire-onglet">
            <div class="titre">
                <h2>Enseignes - Vitrines - Panneaux</h2>
            </div>
        </div>

        <div class="swiper-enseignes">
            <div class="swiper-wrapper">
                {% for img in enseigneP1 %}
                    <div class="swiper-slide">
                    {# afficher seulement les marquages véhicule (catégorie.nom= MARQUAGE V)#}
                        <img src="{{ vich_uploader_asset(img, 'imageFile') }}" alt="{{img.imageName}}">
                        <div class="info_ens">
                            <h3>{{img.titre}}</h3>
                            <p>{{img.legende}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="swiper-enseignes-2">
            <div class="swiper-wrapper">
                {% for img in enseigneP2 %}
                    <div class="swiper-slide">
                    {# afficher seulement les marquages véhicule (catégorie.nom= MARQUAGE V)#}
                        <img src="{{ vich_uploader_asset(img, 'imageFile') }}" alt="{{img.imageName}}">
                        <div class="info_ens">
                            <h3>{{img.titre}}</h3>
                            <p>{{img.legende}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
</section>

<section id="section5" class="section"  data-section-name="Logos">
    <div class="div-logos">

        <div class="div-tire-onglet">
            <div class="titre">
                <h2>CRÉATION LOGOS & CHARTES GRAPHIQUES</h2>
            </div>
        </div>

        <div class="contenu_logos">
            {# block foreach #}
            {% for img in logocharte %}
                {# afficher seulement les marquages véhicule (catégorie.nom= MARQUAGE V)#}
                <div class="img_logos">
                    <img src="{{ vich_uploader_asset(img, 'imageFile') }}" alt="{{img.imageName}}">
                    <div class="info_logos">
                        <h3>{{img.titre}}</h3>
                        <p>{{img.legende}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
    
<section id="section6" class="section"  data-section-name="Impression num.">
    <div class="div-imp">

        <div class="div-tire-onglet-imp">
            <div class="titre">
                <h2>IMPRESSION NUMÉRIQUE TOUS SUPPORTS</h2>
            </div>
        </div>

        <div class="contenu_imp">
            {# block foreach #}
            {% for img in impressionNum %}
                {# afficher seulement les marquages véhicule (catégorie.nom= MARQUAGE V)#}
                <div class="img_imp">
                    <img src="{{ vich_uploader_asset(img, 'imageFile') }}" alt="{{img.imageName}}">
                    <div class="info_imp">
                        <h3>{{img.titre}}</h3>
                        <p>{{img.legende}}</p>
                    </div>
                </div>
            {% endfor %}

    </div>
</section>

<section id="section7" class="section"  data-section-name="Imprimerie-Evenementiel-Banderoles">
    <div class="div-imprimerie">

        <div class="div-tire-onglet">
            <div class="titre">
                <h2>IMPRIMERIE - Évenementiel - Banderoles</h2>
            </div>
        </div>

        {# swiper vertical #}
        <div class="swiper-imprimerie">
            <div class="swiper-wrapper">
                {% for img in imprimerie %}
                    <div class="swiper-slide">
                    {# afficher seulement les marquages véhicule (catégorie.nom= MARQUAGE V)#}
                        <img src="{{ vich_uploader_asset(img, 'imageFile') }}" alt="{{img.imageName}}">
                        <div class="info_imp2">
                            <h3>{{img.titre}}</h3>
                            <p>{{img.legende}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

    </div>
</section>   

<section id="section8" class="section"  data-section-name="Textiles">
    <div class="div-textiles">

        <div class="div-tire-onglet">
            <div class="titre">
                <h2>TEXTILES</h2>
            </div>
        </div>
    </div>
</section>   

<section id="section9" class="section"  data-section-name="Goodies">
    <div class="div-goodies">

        <div class="div-tire-onglet">
            <div class="titre">
                <h2>GOODIES</h2>
            </div>
        </div>
    </div>
</section>   

<section id="section10" class="section"  data-section-name="Partenaires">
    <div class="div-partenaires">

        <div class="div-tire-onglet">
            <div class="titre">
                <h2>PARTENAIRES</h2>
            </div>
        </div>
    </div>
</section>   

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script src="{{ asset('js/AnimationScroll.js') }}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    const dropdown = document.querySelector('.dropdown');
    const dropdownBtn = document.querySelector('.dropdown-btn');

    // Variables pour stocker la position du début du glisser-déposer
    let offsetX;
    let offsetY;

    // Fonction pour gérer le début du glisser-déposer
    function dragStart(e) {
        e.preventDefault();

        // Récupérer la position du début du glisser-déposer par rapport à la position du bouton
        offsetX = e.clientX - dropdownBtn.getBoundingClientRect().right;
        offsetY = e.clientY - dropdownBtn.getBoundingClientRect().top;

        // Ajouter la classe pour indiquer que le glisser-déposer a commencé
        dropdownBtn.classList.add('dragging');

        // Mettre à jour la position initiale du glisser-déposer
        dragMove(e);
    }

    // Fonction pour gérer la fin du glisser-déposer
    function dragEnd() {
        // Retirer la classe du glisser-déposer
        dropdownBtn.classList.remove('dragging');
    }

    // Fonction pour gérer le déplacement pendant le glisser-déposer
    function dragMove(e) {
        const newRight = window.innerWidth - e.clientX + offsetX;
        const newTop = e.clientY - offsetY;

        // Limite gauche
            const minRight = 0;

        // Limite droite
        const maxRight = window.innerWidth - dropdownBtn.clientWidth;
        const boundedRight = Math.min(Math.max(newRight, minRight), maxRight);
        dropdown.style.right = `calc(${boundedRight}px)`;
        dropdown.style.top = `${newTop}px`;
    }

    // Ajouter des gestionnaires d'événements pour le début et la fin du glisser-déposer
    dropdownBtn.addEventListener('mousedown', dragStart);

    // Ajouter des gestionnaires d'événements pour le déplacement pendant le glisser-déposer
    
    dropdownBtn.addEventListener('mouseup', dragEnd);
    
    document.addEventListener('mousemove', function(e) {
        if (dropdownBtn.classList.contains('dragging')) {
            dragMove(e);
        }
    });

});
{# dropdown.style.right = '1%'; #}

window.addEventListener('scroll', function() {
    const dropdown = document.querySelector('.dropdown');
    const dropdownBtn = document.querySelector('.dropdown-btn');
    const scrollPosition = window.scrollY;
    if (scrollPosition >= 750) {
        // récupération du nouveau right du bouton dropdown mise à jour lors du glisser-déposer
        // seulement si le drag and drop a été effectué au moins une fois
        if ((parseFloat(dropdown.style.right) !== '1%') && (dropdown.style.right) !== '-50%') { 
            const newRight = dropdownBtn.getBoundingClientRect().right;
            dropdown.style.right = `calc(${newRight}px - dropdownBtn.getBoundingClientRect().width`;
            const newTop = dropdownBtn.getBoundingClientRect().top;
            dropdown.style.top = `${newTop}px`;
            console.log(newRight);
        } else {
            dropdown.style.right = '1%';
        }
    } else {
        dropdown.style.right = '-50%';
        //dropdown.style.right = `calc(${window.innerWidth}px - ${dropdownBtn.getBoundingClientRect().right}px)`;
    }
});



document.addEventListener('DOMContentLoaded', function() {
    var body = document.body;
    if (body.classList.contains('dark')) {
        // La classe 'dark' est présente sur le corps du document
        // Ajoutez le code ici pour charger le logo sombre
        document.getElementById('logo-accueil').src = "{{ vich_uploader_asset(parametrelogoAccueilwhite, 'imageFile') }}";
        document.getElementById('logo-accueil').alt = "{{parametrelogoAccueilwhite.imageName}}";
    } else {
        // La classe 'dark' n'est pas présente sur le corps du document
        // Ajoutez le code ici pour charger le logo clair
        document.getElementById('logo-accueil').src = "{{ vich_uploader_asset(parametrelogoAccueilblack, 'imageFile') }}";
        document.getElementById('logo-accueil').alt = "{{parametrelogoAccueilblack.imageName}}";
    }
});


var swiper = new Swiper('.swiper-enseignes',{
    spaceBetween: 0,
    grabCursor: true,
    a11y: false,
    freeMode: true,
    speed: 9000,
    loop: true,
    slidesPerView: "4",
    autoplay: {
        delay: 0,
        disableOnInteraction: false,
        reverseDirection: false,
    },
    breakpoints: {
        0: {
            slidesPerView: 1,
            spaceBetween: 5,
        },
        640: {
            slidesPerView: 2,
            spaceBetween: 10,
        },
        768: {
            slidesPerView: 3,
            spaceBetween: 20,
        },
        1024: {
            slidesPerView: 4,
            spaceBetween: 30,
        },
    },
});
var swiper = new Swiper('.swiper-enseignes-2',{
    spaceBetween: 0,
    grabCursor: true,
    
    a11y: false,
    freeMode: true,
    speed: 9000,
    loop: true,
    slidesPerView: "3",
    autoplay: {
        delay: 0,
        disableOnInteraction: false,
        reverseDirection: true,
    },
    breakpoints: {
        0: {
            slidesPerView: 1,
            spaceBetween: 5,
        },
        640: {
            slidesPerView: 2,
            spaceBetween: 10,
        },
        768: {
            slidesPerView: 3,
            spaceBetween: 20,
        },
        1024: {
            slidesPerView: 4,
            spaceBetween: 30,
        },
    },
});



</script>


{% endblock %}