{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block title %}RGRAPHICS - Administration{% endblock %}

{% block body %}

    <div class="div-admin">
        <section class="add-content">
            <h1>Contenu Accueil</h1>
            <div class="ajout-contenu">
                {# formulaire addContentForm #}
                <h1>Ajout services</h1>
                {{ form_start(addContentForm) }}
                {{ form_row(addContentForm.titre) }}
                {{ form_row(addContentForm.legende) }}
                {{ form_row(addContentForm.imageFile) }}
                {{ form_row(addContentForm.categorie) }}
                <div class="div_button_add_delete">
                    <button class="button-add-content" type="submit" name="add">
                    Ajouter
                    </button>
                    <button class="button-delete-content" type="submit" name="delete">
                    Supprimer
                    </button>
                </div>

                {{ form_end(addContentForm) }}
            </div>
            
        </section>
        <section class="info-gen">
            <h1>Informations générales</h1>
            <div class="div-form-info-gen">
                <div class="page-accueil">
                    <h1>Logo page d'accueil</h1>
                    <p class="p-apercu">Aperçu actuel du logo</p>
                    {{ form_start(logoAccueilForm) }}
                    <div class="image-logo">
                        <img src="{{ vich_uploader_asset(parametrelogoAccueil, 'imageFile') }}" alt="{{parametrelogoAccueil.imageName}}" class="logo-accueil">
                    </div>
                    {{ form_row(logoAccueilForm.imageFile) }}
                    <button class="button-add-content" type="submit">Valider</button>
                    {{ form_end(logoAccueilForm) }}
                    <h1>Texte page d'accueil</h1>
                    <p class="p-apercu">Aperçu actuel du Texte</p>
                    {{ form_start(textAccueilForm) }}
                    <div class="text-apercu">
                        <p>{{parametreTextAccueil.textAccroche}}</p>   
                    </div>
                    {{ form_row(textAccueilForm.textAccroche) }}
                    <button class="button-add-content" type="submit">Valider</button>
                    {{ form_end(textAccueilForm) }}
                    <h1>Page Contact</h1>
                    {{ form_start(infoContactForm) }}
                    {{ form_row(infoContactForm.nom_param) }}
                    {# <div class="text-apercu">
                        <p>{{infoscontact}}</p>   
                    </div> #}
                    {{ form_row(infoContactForm.value_param) }}
                    <button class="button-add-content" type="submit">Valider</button>
                    {{ form_end(infoContactForm) }}
                </div>
        </section>
        <section class="equipe">
            <div class="div-equipe">   


                <h1 class="class-h1">Modification d'un membres</h1>

                <div class="modifMembreForm">
                    {{ form_start(modifyForm)}}
                    {{ form_row(modifyForm.prenom) }}
                    {{ form_row(modifyForm.nom) }}
                    {{ form_row(modifyForm.description) }}
                    {{ form_row(modifyForm.role) }}
                    {{ form_row(modifyForm.imageFile) }}
                    <button class="button-add-content" type="submit">Modifier</button>
                    {{ form_end(modifyForm) }}
                </div>

                <h1 class="class-h1">Ajout d'un membre</h1>
                {{ form_start(ajoutMembreForm) }}
                {{ form_row(ajoutMembreForm.prenom) }}
                {{ form_row(ajoutMembreForm.nom) }}
                {{ form_row(ajoutMembreForm.description) }}
                {{ form_row(ajoutMembreForm.role) }}
                {{ form_row(ajoutMembreForm.imageFile) }}
                <button class="button-add-content" type="submit">Ajouter</button>
                {{ form_end(ajoutMembreForm) }}

                <h1 class="class-h1">Suppression d'un membre</h1>
                <div class="supp_membre_form">
                    {{ form_start(supprimerMembreForm) }}
                    {{ form_row(supprimerMembreForm.prenom) }}
                    <button class="button-add-content" type="submit">Supprimer</button>
                    {{ form_end(supprimerMembreForm) }}
                </div>
                
            </div>
        </section>
        <section class="ajout-admin">
            <div class="div-inscription">
                <h1 class="class-h1">Ajout d'un nouvel Administrateur</h1>
                {{ form_start(registrationForm) }}
                {{ form_errors(registrationForm) }}
                    {{ form_row(registrationForm.nom) }}
                    {{ form_row(registrationForm.prenom) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword)}}
                    <button type="submit" class="button-inscription">Ajouter</button>
                {{ form_end(registrationForm) }}
            </div>
        </section>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#addcontent_form_categorie").select2(
                {
                    minimumResultsForSearch: Infinity,
                }
            );
            $("#info_contact_form_nom_param").select2(
                {
                    minimumResultsForSearch: Infinity,
                }
            );
            $("#supprimer_membre_form_prenom").select2(
                {
                    minimumResultsForSearch: Infinity,
                    width: 'auto'
                }
            );
        });
    </script>
{% endblock %}
